<div class="container">
  <h1>Create new Data</h1>
  <br />

  <div class="form-group">
    <label for="fromAddress">From address</label>
    <input
      type="text"
      class="form-control"
      id="fromAddress"
      [(ngModel)]="walletKey.publicKey"
      disabled
    />
  </div>

  <div class="form-group">
    <label for="toAddress">To address</label>
    <input
      type="text"
      class="form-control"
      id="toAddress"
      [(ngModel)]="newDt.toAddress"
    />
  </div>

  <div class="form-group">
    <label for="amount">Amount</label>
    <input
      type="number"
      class="form-control"
      id="amount"
      [(ngModel)]="newDt.amount"
    />
  </div>

  <button
    (click)="createData()"
    type="submit"
    class="btn btn-outline-dark"
    routerLink="/pending"
  >
    Sign & create Data
  </button>
</div>
