<div class="blockchain-body">
  <div class="row">
    <div class="col col-lg">
      <div class="container blocks-container">
        <h1>Blocks on chain</h1>
        <p>Click on the block to display the data</p>
        <app-block-view
          class="block-view"
          *ngFor="let block of blocks"
          [block]="block"
          (click)="showData(block)"
        >
        </app-block-view>
      </div>

      <br />
      <br />
    </div>
    <div class="col col-lg">
      <div class="container">
        <h1>Data Table</h1>
        <app-data-table [metadata]="selectedBlock.data"> </app-data-table>
      </div>
    </div>
  </div>
</div>
