<div class="container">
  <h1>Settings</h1>

  <br />
  <div class="form-group">
    <label for="difficulty">Difficulty</label>
    <input
      id="difficulty"
      type="number"
      class="form-control"
      [(ngModel)]="blockchain.difficulty"
    />
    <p>
      <small class="text-secondary"
        >Using a difficulty above > 4 is going to considerably slow the the
        production of blocks</small
      >
    </p>
  </div>
  <br />
  <div class="form-group">
    <label for="mining-reward">Mining Reward</label>
    <input
      type="number"
      id="mining-reward"
      class="form-control"
      [(ngModel)]="blockchain.miningReward"
    />
  </div>
</div>
